:root {
  --primary-dark-color: #990000;
  --secondary-dark-color: #992222dd;
  --form-bg-color: #f8c6f711;
}

.nav-logo {
  width: 32px;
  border-radius: 50%;
}

.btn-primary {
  background-color: var(--secondary-dark-color) !important;
}

.nav-link {
  font-size: 1.2rem !important;
  color: whitesmoke !important;
}
.bg-dark {
  background-color: var(--primary-dark-color) !important;
}

.bg-cow {
  background-image: url("cows.jpg");
  background-position: center;
}

.bg-dark-light {
  background-color: var(--secondary-dark-color) !important;
}
.error-message {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

footer {
  font-size: 0.8rem;

  div {
    p {
      margin-bottom: 0.1rem;
    }
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 2rem;
  flex: 1;
}

.container-nav {
  margin-top: 65px;
}

.bg-image {
  /* The image used */
  background-image: url("/cows.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  flex: 1;
  height: 100%;
}

.content {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.home-bg {
  max-width: 800px;
}

.tableFooter {
  background-color: #f1f1f1;
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.activeButton {
  color: white;
  background: #185adb;
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}

.form-agregar {
  max-width: 60%;
  background-color: var(--form-bg-color);
  padding: 2rem;
  border: solid 2px rgba(248, 198, 247, .5);
  border-radius: 10px;
}

.inline {
  display: flex;
  justify-content: space-around;
}
/*estilos generales para el cambio de alto contraste*/
.alto-contraste { 
  background-color: #000 !important;//negro
  color:#fff !important; //texto blanco

 }

 .alto-contraste a {
  color: #ffff00 !important;//enlaces amarillos
  text-decoration: underline !important; //decoracion subrayada
 }
 .alto-contraste button {
  background-color: #fff; //botones blanco
  color: #000; //texto negro
  border: 2px solid #ffff00;//borde amarillo 
 }

